<app-hearder></app-hearder>
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: auto; grid-gap: 100px; gap: 100px">
    <div style="display: flex; flex-direction: column; margin: 4rem auto; padding: 1rem; gap: 1rem; max-width: max-content" class="gray-box">
        <button class="button" routerLink="/admin/blog/create" translate="blog.create_new_post"></button>
        <button class="button" routerLink="/admin/blog"><span translate="blog.all_posts"></span></button>
        <button class="button" routerLink="/home" translate="actions.back"></button>
    </div>
</div>
