<div class="search-container">
    <mat-form-field class="search-field" appearance="fill">
        <mat-label class= "search-title" translate="search_definition.title"></mat-label>
        <input matInput class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" (keydown.enter)="search()">
        <button [ngClass]="{'hidden-button': searchText.length < 1 && definitions.length < 1 }" matPrefix mat-icon-button aria-label="Clear" (click)="clear()">
          <mat-icon>close</mat-icon>
        </button>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="search()">
            <mat-icon>search</mat-icon>
          </button>
    </mat-form-field>
    <div class="error-message-container" *ngIf="errorMessage">
        <mat-icon>error_outline</mat-icon>
        <div class="error-message">{{errorMessage}}</div>
    </div>
    <div id='definitions-container' *ngIf="definitions.length && !isLoading">
        <div *ngFor="let definitionObj of definitions">
            <h2>{{definitionObj.category}}</h2>
            <div *ngFor="let definition of definitionObj.definitions">

                <div *ngIf='definitionHasAnchorTag(definition)'>
                    <span>{{getTextBeforeAnchorTag(definition)}}</span>
                    <a [routerLink]="" (click)="this.searchText = extractTextBetweenAnchorTag(definition); search()">{{extractTextBetweenAnchorTag(definition) + '.'}}</a>
                </div>
                <p *ngIf='!definitionHasAnchorTag(definition)' [innerHTML]="definition">
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="isLoading" class="definitions-container loading-container">
        <div class=" information-message " translate="search_definition.search_in_progress"></div>
        <mat-spinner [diameter]="20"></mat-spinner>
    </div>
</div>