img {
    border-radius: 50%;
    width: 16%;
    height: 16%;
    }
.preview-avatar{
    margin: 0 auto;
    text-align: center;
}
.preview-avatar img{
    width: 100px;
    height: 100px;
}
.popup-buttons{
    position: fixed;
    bottom: 30%;
}